<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="entity.Admin">

    <select id="login" resultType="entity.Admin">
        SELECT *FROM  admin WHERE  a_email = #{a_email} AND a_password = #{a_password}
    </select>

</mapper>